{% extends "base.html" %}


  
{% block title %}
Ajnaview
{% endblock title %}

{% block custom_css %}
<link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
{% endblock custom_css %}

{% block body %}

  <div class="bg">
  </div> 
    <div id="card">
      <div id="card-content">
        <div id="card-title">
         <img id ="image" src="{{url_for('static',filename='/images/image_2022_04_11T10_26_09_338Z.png')}}">
        </div>
        <form class="form">
          <label for="server-names" aria-required="true" id="label">Choose a Server</label>
          
          <select name="server-names" id="server">
            <option value="server-1">server 1</option>
            <option value="server-2">server 2</option>
          </select>
          <br>
          <label for="user-email" style="padding-top:13px">
              &nbsp;Username
            </label>
          <input id="user-email" class="form-content" type="email" name="email" autocomplete="on"  required/>
          <div class="form-border"></div>
          <label for="user-password" style="padding-top:22px">&nbsp;Password
            </label>
          <input id="user-password" class="form-content" type="password" name="password" required />
          <div class="form-border"></div>
         <a href="/templates/tables.html" id="login-btn"><input id="submit-btn" type="submit" name="submit" value="LOGIN"></a>
        </form>
      </div>
    </div>
   
{% endblock body %}
