{% extends "base.html" %}


    {% block custom_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static',filename='css/tables.css')}}">
    {% endblock custom_css %}

{% block body %}

    <nav>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <img id='image' src="{{url_for('static',filename='images/image_2022_04_11T10_26_09_338Z.png')}}">
      <!-- <h3 class="srv-name"><strong>Server 1</strong></h3>
      <h3 class="usr-name"><strong>User 1</strong></h3> -->
      <ul>
        <li><a href="#">LOGOUT</a></li>
      </ul>
    </nav>
    <div class="table-header">
    <table id="row-data">

      <thead>
      <tr>
        {% for header in headers %}
          <th class="table-headers" style="color: rgb(0, 82, 150); font-family: Century Gothic;">{{ header }}</th>
        {% endfor %}
        <th style="color: rgb(0, 82, 150); font-family: Century Gothic;">Process</th>
      </tr>
      </thead>


      {% for row in data %}
      <tbody>
        <tr id="row">
          <td class="table-rows">{{ loop.index }}</td>
          {% for cell in row %}
            <td id= {{ loop.index }} class="table-rows" style="color: rgb(0, 0, 0);" >{{ cell }}</td>
          {% endfor %}
          <td class="sub-btn" ><button type="button" class="btn btn-primary btn-sm"  >Start</button></td>
        </tr>
        </tbody>
      {% endfor %}
    </table>
    </div>
  <script>
    init()
    function init(){
        addRowHandlers('row-data');
    }
    function addRowHandlers(tableId) {
        if(document.getElementById(tableId)!=null){
            var table = document.getElementById(tableId);
            var rows = table.getElementsByTagName('tr');
            var id = '';
            for ( var i = 1; i < rows.length; i++) {
                rows[i].i = i;
              rows[i].onclick=function data() {
                    id = table.rows[this.i].cells[0].innerHTML;                
                    alert('id is: '+id);
                  };
              }
          }
      }   
  </script


{% endblock body %} 
