a {
    text-decoration: none;
  }

  body{
    font-family: 'Courier New', Courier, monospace;
   }


  
  label {
    font-family: "Raleway", sans-serif;
    font-size: 13pt;
  }

 
  #login-btn{
    padding-left: 45px;
  }

  #label{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  #server{
        margin-bottom: 10px;
        margin-top: 10px;
        margin-left: 4px;
        padding: 10px 10px 10px 10px;
        border-radius: 10px;
  }
  
  #forgot-pass {
    color: #1d10ad;
    font-family: "Raleway", sans-serif;
    font-size: 10pt;
    margin-top: 3px;
    text-align: right;
  }
  #card {
    background: #fbfbfb;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
    height: 540px;
    margin: 6rem auto 8.1rem auto;
    width: 329px;
  }
  #card-content {
    padding: 12px 44px;
  }
  #card-title {
    font-family: "Raleway Thin", sans-serif;
    letter-spacing: 4px;
    padding-bottom: 23px;
    padding-top: 13px;
    text-align: center;
  }
  #signup {
    color: #2dbd6e;
    font-family: "Raleway", sans-serif;
    font-size: 10pt;
    margin-top: 16px;
    text-align: center;
  }
  
  #submit-btn {
    background: -webkit-linear-gradient(right, #4a35b4, #191cbf);
    border: none;
    border-radius: 21px;
    box-shadow: 0px 1px 8px #3a3fda;
    cursor: pointer;
    color: white;
    font-family: "Raleway SemiBold", sans-serif;
    height: 42.3px;
    margin: 0 auto;
    margin-top: 50px;
    transition: 0.25s;
    width: 153px;
  }
  #image{
      height: 55px;
      position: center;
      
  }
  #submit-btn:hover {
    box-shadow: 0px 1px 18px #24c64f;
  }
  .form {
    align-items: left;
    display: flex;
    flex-direction: column;
  }
  .form-border {
    background: -webkit-linear-gradient(right, #011163, #3157ed);
    height: 2px;
    width: 100%;
  }
  .form-content {
    background: #fbfbfb;
    border: none;
    outline: none;
    padding-top: 14px;
  }
  .underline-title {
    background: -webkit-linear-gradient(right, #011163, #3157ed);
    height: 1px;
    width: 100%;
  }
  